.aside {
        z-index: 1000;
        background-color: #333333;
        color: #ffffff;
        text-align: center;
        padding-top: 2em;
    }

@media (max-width: 480px) {
    .aside {
        height: 82vh;
    }
}

@media (min-width: 481px) {
    .aside {
        width: 25vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.h1 {
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.4em;
    margin: 0;
}

.h5 {
    font-weight: 300;
    line-height: 1.1;
    margin-top: 0;
}

.img {
    max-width: 250px;
}

.topPadding1EM {
    padding-top: 1em;
}

.ul {
    margin-top: 5px;
    padding-left: 0;
}


