.centerText {
    text-align: center;
}

.humanRightsContainer {
    text-align: center;
}

@media (min-width: 481px) {
    .humanRightsContainer {
        display: flex;
    }
}

.justifyText {
    text-align: justify;
}

.politicalCompassImageContainer {
    margin-top: 1.5em;
    text-align: center;
}
